node_modules
dist
.vscode
.idea
.DS_Store
*.log
*.env
*.tmp
*:Zone.Identifier
android/app/version.properties
keystore/baraazakariya.keystore
keystore/keystore.properties
keystore/release-key.keystore
keystore/upload_certificate.pem
keystore/my-release-key.jks
keystore/.ssh/id_ed25519
keystore/.ssh/id_ed25519.pub
keystore/.ssh/known_hosts
keystore/.ssh/known_hosts.old
